@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:700);
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/*
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/
body {
  font-family: "Raleway", sans-serif;
  background-color: #242B33;
  color: #FFF;
  font-size: 16px;
}

a {
  color: #FFF;
  -webkit-transition: color 0.25s ease-in;
  transition: color 0.25s ease-in;
}
a:hover {
  color: #D4C17F;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
}

.visually-hidden {
  /* Contain text within 1px box*/
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* Keep the layout*/
  position: absolute;
  /* Remove any visible trace (e.g. background color) */
  clip: rect(1px, 1px, 1px, 1px);
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7*/
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

.none {
  display: none !important;
}

.title-2 {
  font-size: 36px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: #D4C17F;
}

.mail {
  color: #D4C17F;
}

.header {
  position: relative;
}
.header__nav {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1366px) {
  .header__nav {
    padding: 25px 0;
  }
}
@media screen and (max-width: 1024px) {
  .header__nav {
    padding: 20px 0;
  }
}
@media screen and (max-width: 768px) {
  .header__nav {
    padding: 10px 0;
  }
}

.nav {
  letter-spacing: 0.05em;
  font-size: 14px;
}
@media screen and (max-width: 1024px) {
  .nav {
    display: none;
  }
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
.nav__btn {
  display: none;
}
@media screen and (max-width: 1024px) {
  .nav__btn {
    display: block;
  }
}

.concept {
  position: relative;
}
.concept::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 840px;
  top: -126px;
  z-index: -1;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(11.98%, #242B33), color-stop(51.04%, rgba(45, 52, 60, 0.38)), color-stop(92.19%, #242B33), color-stop(92.2%, #242B33)), url(./../img/main/concept/first-section-bg.jpg);
  background: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%, #242B33 92.2%), url(./../img/main/concept/first-section-bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1366px) {
  .concept::before {
    bottom: 0px;
    height: unset;
  }
}
@media screen and (max-width: 1024px) {
  .concept::before {
    bottom: 0px;
  }
}
.concept__title {
  padding: 170px 0 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  row-gap: 81px;
}
@media screen and (max-width: 1366px) {
  .concept__title {
    padding: 105px 0 130px;
    row-gap: 70px;
  }
}
@media screen and (max-width: 1024px) {
  .concept__title {
    padding: 70px 0 90px;
    row-gap: 50px;
  }
}
@media screen and (max-width: 768px) {
  .concept__title {
    padding: 30px 0 60px;
    row-gap: 25px;
  }
}
.concept h1 {
  font-size: 48px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  color: #D4C17F;
}
@media screen and (max-width: 1366px) {
  .concept h1 {
    font-size: 44px;
  }
}
@media screen and (max-width: 1024px) {
  .concept h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 768px) {
  .concept h1 {
    font-size: 36px;
  }
}
@media screen and (max-width: 768px) {
  .concept h1 {
    font-size: 30px;
  }
}
.concept__info {
  max-width: 540px;
  margin: 0 auto;
  padding-bottom: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  color: #FFF;
}
@media screen and (max-width: 1366px) {
  .concept__info {
    max-width: 490px;
    padding-bottom: 45px;
    font-size: 18px;
  }
}
@media screen and (max-width: 1024px) {
  .concept__info {
    max-width: 440px;
    padding-bottom: 40px;
    font-size: 17px;
  }
}
@media screen and (max-width: 768px) {
  .concept__info {
    padding-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 15px;
    font-size: 16px;
    line-height: 21px;
  }
}
@media screen and (max-width: 375px) {
  .concept__info {
    padding-bottom: 10px;
    font-size: 15px;
  }
}
.concept__info--address, .concept__info--number {
  position: relative;
  padding-left: 35px;
}
.concept__info--address::before, .concept__info--number::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0;
  width: 21px;
  height: 21px;
  background-repeat: no-repeat;
  background-position: center;
}
.concept__info--address::before {
  background-image: url("./../img/main/concept/map.svg");
}
.concept__info--number::before {
  background-image: url("./../img/main/concept/phone.svg");
}

.advantages {
  position: relative;
  min-height: 420px;
  padding: 120px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.advantages::after {
  content: "II";
  left: calc(50% + 555px);
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  line-height: 1.185;
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: 0.02;
  font-size: 400px;
  font-family: "Playfair Display", serif;
}
.advantages__info {
  width: 794px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 70px;
}
.advantages__item {
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.advantages__item-img {
  width: 80px;
  height: 80px;
}
.advantages__item-text {
  max-width: 200px;
  max-height: 47px;
  font-size: 20px;
  font-weight: 300;
  font-family: "Roboto", serif;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.apartments {
  position: relative;
}
.apartments::before {
  content: "III";
  right: calc(50% + 555px);
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
  line-height: 1;
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: 0.02;
  font-size: 400px;
  font-family: "Playfair Display", serif;
}
.apartments__title {
  margin-bottom: 88px;
}
.apartments__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.card {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.card::before {
  content: "";
  position: absolute;
  z-index: 4;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(36, 43, 51, 0)), to(#242B33));
  background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%);
}
.card:hover {
  color: #FFF;
}
.card:hover .card__img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: contrast(110%) brightness(1.2) saturate(1.2);
          filter: contrast(110%) brightness(1.2) saturate(1.2);
}
.card::after {
  opacity: 0;
  content: "";
  position: absolute;
  z-index: 5;
  left: 15px;
  top: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px double rgba(255, 255, 255, 0.4);
  -webkit-transition: opacity 0.25s ease-in;
  transition: opacity 0.25s ease-in;
}
.card:hover::after {
  opacity: 1;
}
.card__img {
  position: relative;
  z-index: 3;
  -webkit-transition: -webkit-transform 0.25s ease-in;
  transition: -webkit-transform 0.25s ease-in;
  transition: transform 0.25s ease-in;
  transition: transform 0.25s ease-in, -webkit-transform 0.25s ease-in;
}
.card__title {
  z-index: 5;
  position: absolute;
  left: 50px;
  right: 50px;
  bottom: 44px;
  font-size: 24px;
}

.cta {
  padding: 180px 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10.42%, #242B33), color-stop(50.52%, rgba(36, 43, 51, 0)), color-stop(90.1%, #242B33)), -webkit-gradient(linear, left bottom, left top, from(rgba(36, 43, 51, 0.9)), to(rgba(36, 43, 51, 0.9))), url(./../img/main/3-section/fourth-section-bg.jpg), #C4C4C4;
  background: linear-gradient(180deg, #242B33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242B33 90.1%), linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9)), url(./../img/main/3-section/fourth-section-bg.jpg), #C4C4C4;
}
.cta__title {
  margin-bottom: 17px;
}
.cta__info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.cta__text {
  line-height: 1.5;
}
.cta__text p + p {
  margin-top: 1em;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 35px 30px;
}
.form__input {
  height: 50px;
  padding: 12px;
  text-align: center;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #FFF;
}
.form__input:focus {
  background-color: rgba(255, 255, 255, 0.25);
}
.form__input::-webkit-input-placeholder {
  color: #BEBEBE;
}
.form__input::-moz-placeholder {
  color: #BEBEBE;
}
.form__input:-ms-input-placeholder {
  color: #BEBEBE;
}
.form__input::-ms-input-placeholder {
  color: #BEBEBE;
}
.form__input::placeholder {
  color: #BEBEBE;
}
.form__politicy {
  font-size: 13px;
  line-height: 1.23;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #E7E7E7;
}
.form__button {
  padding: 12px;
  height: 50px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: #FFF;
  background-color: #D4C17F;
}
.form__button:hover {
  background-color: #ddc676;
}

.video {
  position: relative;
  text-align: center;
}
.video::after {
  content: "IV";
  left: calc(50% + 555px);
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  line-height: 1.5;
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: 0.02;
  font-size: 400px;
  font-family: "Playfair Display", serif;
}
.video__link {
  position: relative;
  display: inline-block;
  text-align: center;
}
.video__link::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(36, 43, 51, 0.8)));
  background: linear-gradient(0deg, rgba(36, 43, 51, 0.8));
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.video__link:hover::before {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(36, 43, 51, 0.7)));
  background: linear-gradient(0deg, rgba(36, 43, 51, 0.7));
}
.video__link:hover .video__play {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
  -webkit-filter: saturate(1.5);
          filter: saturate(1.5);
}
.video__play {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.maps {
  position: relative;
  padding: 180px 0;
}
.maps::before {
  content: "V";
  right: calc(50% + 555px);
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
  line-height: 1;
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: 0.02;
  font-size: 400px;
  font-family: "Playfair Display", serif;
  top: 180px;
}
.maps__title {
  margin-bottom: 88px;
}
.map {
  height: 358px;
  background: #626262;
}

.feedback {
  padding-bottom: 180px;
}
.feedback__title {
  margin-bottom: 38px;
}
.feedback__form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  padding-top: 72px;
  padding-bottom: 51px;
  background-color: #2D343C;
}
.footer__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.footer__logo {
  margin-top: -12px;
}
.footer__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
}
.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  width: 176px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}