/*
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/
// Sizes
$header-size: 126px;

// Fonts
$font-prime: 'Raleway', sans-serif;
$font-headings: 'Playfair Display', serif;
$font-secondary: 'Roboto', serif;

// Colors
$accent: #D4C17F;
$dark: #242B33;
$white: #FFF;
$gray: #BEBEBE;
$footer-bg: #2D343C;
$politicy: #E7E7E7;

// Media
$laptop: 1366px;
$tablet: 1024px;
$phone: 768px;
$phoneSE: 375px;
