/*
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/

// Fonts
$font-prime: 'Raleway', sans-serif;
$font-headings: 'Playfair Display', serif;
$font-secondary: 'Roboto', serif;

// Colors
$accent: #D4C17F;
$dark: #242B33;
$white: #FFF;
$gray: #BEBEBE;
$footer-bg: #2D343C;

