.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px 30px;

    // .form__input
    &__input {
        height: 50px;
        padding: 12px;
        text-align: center;
        font-size: 14px;
        background-color: rgba(255, 255, 255, 0.2);
        color: $white;

        &:focus {
            background-color: rgba(255, 255, 255, 0.25);
        }

        &::placeholder {
            color: $gray;
        }
    }

    @include mediaLaptop {
        gap: 25px;
    }

    @include mediaTablet {
        gap: 20px;
    }

    @include mediaPhone {
        grid-template-columns: 1fr;
    }

    // .form__politicy
    &__politicy {
        font-size: 13px;
        line-height: 1.23;
        display: flex;
        align-items: center;
        text-align: center;
        color: $politicy;

        @include mediaLaptop {
            font-size: 12px;
            justify-content: center;
        }

        @include mediaTablet {
            font-size: 10px;
        }

        @include mediaPhone {
            font-size: 10px;
        }

        &--bottom {
            @include mediaPhone {
                grid-row: 4 / 5;
            }
        }
    }

    // .form__button
    &__button {
        padding: 12px;
        height: 50px;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        color: $white;
        background-color: $accent;

        &:hover {
            background-color: saturate($accent, 10%);
        }
    }
}