.maps {
    position: relative;
    padding: 180px 0;

    &::before {
        content: "V";
        right: calc(50% + 555px);
        transform: translate(50%, 0);
        line-height: 1;
        
        @include bgNumbers;
        top: 180px;

        @include mediaLaptop {
            display: none;
        }
    }

    @include mediaLaptop {
        padding: 140px 0;
    }

    @include mediaTablet {
        padding: 100px 0;
    }

    @include mediaPhone {
        padding: 70px 0;
    }

    // .maps__title
    &__title {
        margin-bottom: 88px;

        @include mediaLaptop {
            margin-bottom: 60px;
        }
    
        @include mediaTablet {
            margin-bottom: 50px;
        }

        @include mediaPhone {
            margin-bottom: 40px;
        }
    }

    // .maps__interactive
    // &__interactive {}
}

.map {
    height: 358px;
    background: #626262;
}